<!--<h1>Hello</h1>-->
<!--<button class="btn btn-outline-success" (click)="showMessage()">Click me!</button>-->
<!--<ul>-->
<!--  <li *ngFor="let name of names | paginate: {itemsPerPage: 1, currentPage: p}">{{name}}</li>-->
<!--</ul>-->
<!--<pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>-->
<div class="container">
<!--  <div class="row mt-3">-->
<!--    <div class="menu d-flex">-->
<!--      <button class="btn btn-outline-primary">List</button>-->
<!--      <button class="btn btn-outline-primary mx-1">Create</button>-->
<!--      <button class="btn btn-outline-primary">Detail</button>-->
<!--    </div>-->
<!--  </div>-->
  <router-outlet></router-outlet>
</div>
