<div class="row mt-3">
  <button [routerLink]="['/']" class="btn btn-outline-info w-auto">Quay Lại</button>
</div>
<div class="row d-flex justify-content-center">
    <form *ngIf="rfTicket" [formGroup]="rfTicket" class="w-50 form-Edit">
      <div class="mb-3 w-100">
        <h2 class="text-center" style="font-family: sans-serif">Cập nhật lại vé xe</h2>
      </div>
      <div class="d-flex justify-content-between">
        <div class="mb-3 w-50"  style="padding-right: 12px">
          <label class="form-label">Điểm đi</label>
          <input type="text" class="form-control" formControlName="start"
                 [ngClass]=" rfTicket.controls.start.touched ? rfTicket.controls.start.valid? 'is-valid' : 'is-invalid' : ''">
          <div class="invalid-feedback">
            <p *ngIf="rfTicket.controls.start.errors?.required">
              Không được bỏ trống
            </p>
            <p *ngIf="rfTicket.controls.start.errors?.minlength ||
                    rfTicket.controls.start.errors?.maxlength">
              Số ký tự tối thiểu : 5, tối đa: 30
            </p>
          </div>
        </div>
        <div class="mb-3 w-50"  style="padding-left: 12px">
          <label class="form-label">Điểm đến</label>
          <input type="text" class="form-control" formControlName="end"
                 [ngClass]="rfTicket.controls.end.touched ? rfTicket.controls.end.valid? 'is-valid' : 'is-invalid' : ''">
          <div class="invalid-feedback">
            <p *ngIf="rfTicket.controls.end.errors?.required">
              Không được bỏ trống
            </p>
            <p *ngIf="rfTicket.controls.end.errors?.minlength ||
                    rfTicket.controls.end.errors?.maxlength">
              Số ký tự tối thiểu : 5, tối đa: 30
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="mb-3 w-50" style="padding-right: 12px">
          <label class="form-label">Giá vé</label>
          <input type="text" class="form-control" formControlName="price"
                 [ngClass]="rfTicket.controls.price.touched ? rfTicket.controls.price.valid? 'is-valid' : 'is-invalid' : ''">
          <div class="invalid-feedback">
            <p *ngIf="rfTicket.controls.price.errors?.required">
              Không được bỏ trống
            </p>
            <p *ngIf="rfTicket.controls.price.errors?.min ||
                    rfTicket.controls.price.errors?.max">
              Giá vé tối thiểu : 0, tối đa: 1000000
            </p>
            <p *ngIf="rfTicket.controls.price.errors?.pattern">
              Vui lòng nhập đúng định dạng số! ví dụ: 9999.99
            </p>
          </div>
        </div>
        <div class="mb-3 w-50" style="padding-left: 12px">
          <label class="form-label">Số lượng vé: </label>
          <input type="number" class="form-control" formControlName="quality"
                 [ngClass]="rfTicket.controls.quality.touched ? rfTicket.controls.quality.valid? 'is-valid' : 'is-invalid' : ''">
          <div class="invalid-feedback">
            <p *ngIf="rfTicket.controls.quality.errors?.required">
              Không được bỏ trống
            </p>
            <p *ngIf="rfTicket.controls.quality.errors?.min ||
                    rfTicket.controls.quality.errors?.max">
              Số lượng vé tối thiểu : 0, tối đa: 1000
            </p>
            <p *ngIf="rfTicket.controls.quality.errors?.pattern">
              Vui lòng nhập đúng định dạng số!
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="mb-3 w-50" style="padding-right: 12px">
          <label class="form-label">Ngày khởi hành</label>
          <input type="date" class="form-control" formControlName="startDay"
                 [ngClass]="rfTicket.controls.startDay.touched ?
               rfTicket.controls.startDay.valid ? 'is-valid' : 'is-invalid' : ''">
          <div class="invalid-feedback">
            <p *ngIf="rfTicket.controls.startDay.errors?.required">
              Không được bỏ trống
            </p>
            <p *ngIf="rfTicket.controls.startDay.errors?.pattern">
              Vui lòng nhập đúng định dạng: yyyy-mm-dd
            </p>
          </div>
        </div>
        <div class="mb-3 w-50" style="padding-left: 12px">
          <label class="form-label">Giờ khởi hành</label>
          <input id="time" type="time" class="form-control" formControlName="startHours"
                 [ngClass]="rfTicket.controls.startHours.touched ?
                        rfTicket.controls.startHours.valid ? 'is-valid' : 'is-invalid' : ''">
          <div class="invalid-feedback">
            <p *ngIf="rfTicket.controls.startHours.errors?.required">
              Không được bỏ trống
            </p>
            <p *ngIf="rfTicket.controls.startHours.errors?.pattern">
              Vui lòng nhập đúng định dạng: hh:mm
            </p>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Nhà xe</label>
        <select class="form-select" formControlName="garage" [compareWith]="compareGarage">
          <option *ngFor="let garage of garages" [ngValue]="garage">{{garage.name}}</option>
        </select>
      </div>
      <button [disabled]="rfTicket.invalid" type="button" (click)="updateTicket()" class=" w-100 btn btn-primary">Lưu</button>
    </form>
  </div>
